@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(https://media.istockphoto.com/vectors/empty-hospital-hall-interior-clinic-waiting-room-horizontal-banner-vector-id945008498?k=6&m=945008498&s=170667a&w=0&h=_7akRF04JUFGsDzy_690Uabpw3irme9lbtG729Uv7lg=); margin-top: 20px; background-size:cover; background-position:center center; z-index: -2; position:relative;  padding-top: 20rem; padding-bottom: 20rem; ">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mantenimientos</h2>
        <p>
            En esta herramienta podremos agregar,editar y eliminar las diferentes columnas que tenemos, por igual verlas.</p>
    </div>
    <div class="col-md-4">
        <h2>Procesos</h2>
        <p>En esta herramienta podremos gestionar citas medicas, ingresos y altas que estas relacionan diferentes columnas</p>
    </div>
    <div class="col-md-4">
        <h2>Consultas</h2>
        <p>En esta herramienta podremos hacer consultas a las tablas con filtros determinados</p>
    </div>
</div>